<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center;">
  <h1 class="heading">{{ name }} First Angular Project</h1>
  <img width="300" alt="SandBox" src="assets/sandox.jpg" />
</div>
<h3>Here are some links to help you start:</h3>
<ul>
  <li>
    {{ itemList[0] }}
  </li>
  <li>
    {{ itemList[1] }}
  </li>
  <li>
    {{ itemList[2] }}
  </li>
</ul>
<p>
  The rectangle has a length of {{ rectangle.length }} cm, a width of
  {{ rectangle.width }} cm, and an area of {{ rectangle.area() }} cm^2.
</p>
