.chores {
  font-family: Verdana, sans-serif;
  background: #5dd1fb;
  color: #033f55;
  line-height: 1.5em;
  padding: 20px;
}
.chores h3 {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.chores li {
  font-style: italic;
}
.chores_inner {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
