.chores {
  font-family: Verdana, sans-serif;
  background: #5dd1fb;
  color: #033f55;
  line-height: 1.5em;
  padding: 20px;
  min-height: 305px;
}
.chores h3 {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.chores li {
  font-style: italic;
  font-size: 0.95rem;
}
